#keyboard, #keyboard * {
  margin: 0;
  padding: 0;
}

#keyboard {
  position: fixed;
  bottom: 0;
  width: 100%;
  list-style: none;
}

#keyboard > li {
  float: left;
  margin: 0 0.6510416666666667% 0.6510416666666667% 0; /*5px/768*/
  width: 5.46875%; /*42px/768*/
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: rgba(55,55,55,.7);
  color: rgb(200,200,255);
  border: 1px solid #f9f9f9;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#keyboard > li > .off-glyph {
  position:relative;
  top:-12px;
  font-size: smaller;
  color:rgb(155,200,155);
}

#keyboard > li.function {
  width:4.8177083333333336%; /*37px/768*/
  height:35px;
}

#keyboard > li.function.delete {
  width:5.078125%; /*39px/768*/
}

#keyboard > li.function.escape {
  width:5.078125%; /*39px/768*/
}

#keyboard > li.backspace {
  width:7.682291666666667%; /*59px/768*/
}

#keyboard > li.tab {
  width:7.682291666666667%; /*59px/768*/
}

#keyboard > li.caplock {
  width:9.505208333333333%; /*73px/768*/
}

#keyboard > li.enter {
  width:10.026041666666667%;/*77px/768*/
}

#keyboard > li.left-shift {
  width:12.890625%;/*99px/768*/
}

#keyboard > li.right-shift {
  width:13.020833333333334%;/*100px/768*/
}

#keyboard > li.space {
  width:33.203125%;/*255px/768*/
}

#keyboard > li.arrow {
  height:35px;
}